.hero-slide-in {
  transform: translateX(100%);
  opacity: 0;
  animation: heroSlideIn 0.7s ease-in-out forwards;
}

.hero-slide-out {
  opacity: 1;
  animation: heroSlideOut 0.7s ease-in-out forwards;
}

@keyframes heroSlideIn {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes heroSlideOut {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(-12%);
    opacity: 0;
  }
}
